.image {
  background-color: #1abc9c;
  margin-bottom: 5rem;
  padding-bottom: 70px;
}
ul :hover {
  color: #1abc9c;
}
.send {
  background-color: #1abc9c;
}
a:hover {
  color: #1abc9c;
}
/* 2nd page */
.divider {
  width: 10%;
  height: 4px;
  background-color: white;
  display: inline-block;
  align-items: center;
  margin: 7px;
}
.icon {
  font-size: 30px;
}
/* 3rdpage */
.display-4 {
  padding-top: 20px;
}
.break {
  background-color: #2c3e50;
}
.bottom {
  padding-bottom: 50px;
}
a {
  color: #1abc9c;
}
.bar {
  color: white;
}
.form-floating > textarea.form-control:not(:placeholder) {
  padding-top: 5rem;
}
